@model WebBanQuanAo.Models.Size

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxWeight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
